*{
    padding:0px;
    margin:0px;
    font-family: AmazonEmber,Helvetica Neue,Helvetica,Arial,sans-serif;
    scroll-behavior: smooth;
}

h1{
    text-transform: capitalize;

}
.btn:hover{
    opacity: 0.9;
}
.error{
    color:red;
}

.register,.addproduct{
    border:0px solid white;
    background-color: #F5F5F5;
    padding: 20px;
    margin: 0px auto;
}
.nav-link i{
    margin-right: 3px;
}
.navigation{
    background: #232f3e;
}


.info{
    color:#727880;
}

.footer{
    background-color: #232f3e;
    
}
.footer .section-1:hover{
    background-color: #454e57;
    
}
.footer a{
    text-decoration: none;
    color:white;
}
.footer a:hover{
    
    color:white;
}
.section-1{
    border-bottom: 1px solid white;
}
.line{
    height:3px;
    background-color: #232f3e;

}


.profile_img img{
    border-radius:50%;
    border:0px;
    height:140px;
    width:140px;
    display: flex;
    margin:0px auto;
}
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}
.nav_social_link a{
    text-decoration: none;
    color:white;
}
.nav_social_link a:hover{
    text-decoration: none;
    color:rgb(162, 158, 158);
}



.carousel-item img{
    height:100vh;
}

.bigline{
    height:5px;
    border-radius:10px;
    background-color: #232f3e;
    width:150px;
    justify-content: center;
    margin:0px auto;
}

.our-product img{
    height:100px;
    width:100px;
}
.contect_section img{
    height:100px;
    width:100px;
    border-radius: 50%;
}



/*cart*/
.shopCard{
    background-color: #FAFAFA;
    padding: 10px;
    text-align: center;
}
.shopCard h1{
    font-weight: bold;


}
.emtycaed{
    display: flex;
    justify-content: center ;
    text-align: center;
    flex-direction: column;

    padding-bottom: 100px;
}
.emtycaed i{
    font-size: 70px;
    color: #000!important;

    

}
.emtycaed p{
    font-size: 15px;
    color: #888888;

}

/*table*/
@media only screen and (max-width:800px){
    #no-more-tables tbody,
    #no-more-tables tr,
    #no-more-tables td{
      display:block;
    }
    #no-more-tables thead tr{
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    #no-more-tables td{
      position: relative;
      padding-left: 50%;
    }
    #no-more-tables td:before{
      content: attr(data-title);
      position: absolute;
      left: 6px;
      font-weight: bold;
    }
  }

/*table close*/



  .w-5{
    width:20px;
    height:30px;
  }
  .hidden{
    justify-content: center;
    text-align: center;
    text-decoration: none;
    
  }
  .font-medium{
    text-decoration: none;
  }
  .flex-1{
     display: none;
  }

  .carousel-item h2{
    
    text-shadow:2px 2px 8px #F5F5F5;
    font-weight: bolder;
  }
  .carousel-item p{
      font-size: 30px;
  }

  .carousel-item img{
     height:498px;
  }


  .list-group-item .border-0{
    list-style-type: disc !important;
    padding-left: 0em;
}
.list-group-item::before {
    content: "●";
   
  }
  .form-error {

    border: 2px solid #e74c3c;
  }
